POSTGRES_DB=sharecutter
POSTGRES_USER=sharecutter
POSTGRES_PASSWORD=change-me-locally
POSTGRES_PORT=5434

PGADMIN_DEFAULT_EMAIL=admin@sharecutter.local
PGADMIN_DEFAULT_PASSWORD=change-me-locally
PGADMIN_PORT=5050
